.pricing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-top: 30px;
}

.pricing ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #7c3ac9;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  -webkit-backface-visibility: hidden;
  transition: all .5s;
}

.pricing ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricing ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricing ul.theplan li.title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricing ul.theplan:nth-of-type(2){
  background: #e53499;
}
    
.pricing ul.theplan:nth-of-type(3){
  background: #2a2cc8;
}
.pricing ul.theplan:nth-of-type(4){
  background: #079cf2;
}
.pricing ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricing ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricing a.pricebutton{
  background: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: navy;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .pricing ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricing ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricing a.pricebutton{
    display: block;
  }
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 101; /* Sit on top */
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    height: 100%;

}

/* The Close Button */
.closeModal {
    color: #aaaaaa;
    float: left!important;
    margin-left: 0px!important;
    font-size: 28px;
    font-weight: bold;
    width: auto!important;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#searchCoin {
    display: inline-block;
    width: 200px;
    box-sizing: border-box!important;
    border: 2px solid #ccc!important;
    border-radius: 4px!important;
    font-size: 16px!important;
    background-color: white!important;
    background-image: url('images/searchicon.png')!important;
    background-position: 10px 10px!important; 
    background-repeat: no-repeat!important;
    padding: 12px 20px 12px 40px!important;
    margin-top: 10px;
    -webkit-transition: width 0.4s ease-in-out!important;
    transition: width 0.4s ease-in-out!important;
}
.expand {
  width: 70%!important;
}

#sign_in, #sign_up {
  display: none;
}

html, body {
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.login_logo {
  border-radius: 10%;
}
.login_logo:hover {
  cursor: pointer;
}
.border_highlight{
  border-width: 3px;
  border-color: #f2ee0e!important;
  border-style: solid;
}
.green {
  color: #0eea33!important;
}
.red {
  color: #e50206!important;
}
#switch_sign_up:hover, #switch_sign_in:hover {
  cursor: pointer;
}
#incorrect, #errorOccured, #sign_out_button, #forum {
  display: none;
}
#sign_out_button {
  color: black!important;
  text-transform: capitalize;
}
#sign_out_button:hover {
  color: white!important;
}
.remove:hover {
  cursor: pointer;
}
.fa-trash {
  color: black!important;
}
.ui-helper-hidden-accessible{
    display:none !important;
}
body .ui-autocomplete {
  /* font-family to all */
  background-color: #d4d8dd;
  z-index: 101;
  width: 60%;
}
body .ui-autocomplete .ui-menu-item .ui-state-focus {
  background-color: #979aa0!important;
} 
#navbar {
  width: 100%;
  position: absolute;
  top: 0px;
  overflow-x: hidden;
  white-space: nowrap;

}
#pricing {
  margin-top: 120px;
}
#forum {
  margin-left: 30px;
}