.pricing{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-top: 25px;
}

.pricing ul.theplan{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
  background: #7c3ac9;
  position: relative;
  width: 250px; /* width of each table */
  margin-right: 10px; /* spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}

.pricing ul.theplan:hover{ /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 100;
  box-shadow: 0 0 10px gray;
}

.pricing ul.theplan li{
  margin: 10px 20px;
  position: relative;
}

.pricing ul.theplan li.title{
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}

.pricing ul.theplan:nth-of-type(2){
  background: #e53499;
}
    
.pricing ul.theplan:nth-of-type(3){
  background: #2a2cc8;
}

.pricing ul.theplan:last-of-type{ /* remove right margin in very last table */
  margin-right: 0;
}

/*very last LI within each pricing UL */
.pricing ul.theplan li:last-of-type{
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}  

.pricing a.pricebutton{
  background: white;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: navy;
  text-transform: uppercase;
}

@media only screen and (max-width: 500px) {
  .pricing ul.theplan{
    border-radius: 0;
    width: 100%;
    margin-right: 0;
  }
  
  .pricing ul.theplan:hover{
    transform: none;
    box-shadow: none;
  }
  
  .pricing a.pricebutton{
    display: block;
  }
}
#searchCoin {
    width: 130px;
    box-sizing: border-box!important;
    border: 2px solid #ccc!important;
    border-radius: 4px!important;
    font-size: 16px!important;
    background-color: white!important;
    background-image: url('images/searchicon.png')!important;
    background-position: 10px 10px!important; 
    background-repeat: no-repeat!important;
    padding: 12px 20px 12px 40px!important;
    margin-top: 10px;
    -webkit-transition: width 0.4s ease-in-out!important;
    transition: width 0.4s ease-in-out!important;
}
#searchCoin:-webkit-autofill,
#searchCoin:-webkit-autofill:hover,
#searchCoin:-webkit-autofill:focus,
#searchCoin:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.expand {
  width: 75%!important;
}

#sign_in, #sign_up {
  display: none;
}